/**
 * Basic CSS reset for the app container.
 * Ensure we have the full screen available for the app to render.
 */
html,
body {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
